<clase1-nav></clase1-nav>
<h1>Hola! esta es la {{title}} de Angular</h1>
<div *ngIf="false">
  <h2>Chau!</h2>
</div>

<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" (change)="changeTitleWithInput($event)" class="form-control" id="name" placeholder="Enter your name">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Enter your email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Enter your password">
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
