<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="users">Clase 4</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="users" routerLinkActive="active">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="posts" routerLinkActive="active">Publicaciones</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" [(ngModel)]="query" (ngModelChange)="search()" name="query" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" (click)="search()" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
